:root {
  --color-grey: #c6cbcd;
  --color-coral: #ec7979;
  --color-supergrey: #86878b;
  --color-title: #f9f5eb;
  --color-background: #fffde3;
  --color-slowred: #e64848;
  --color-white: #ffffff;
  --color-pink: #ffc4c4;
  --color-header-todo: #bface0;
  --color-header-prog: #a084ca;
  --color-header-completed: #645caa;
  --color-header: #f1f6f9;
  --color-green: #7fb77e;
  --color-black: #000000;
  --color-ultrafiolet: #ebc7e8;
}